.app__about {
  flex: 1;
  width: 100%;
  min-height: 50vh;
  flex-direction: column;
  padding-top: 2rem;
}

.app__profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  font-family: var(--font-raleway);
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 16px;

  width: 80%;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
    img {
      height: 320px;
    }
  }
}
.typed {
  font-size: 1rem;
  line-height: 1.9rem;
  text-align: justify;
  color: var(--white-color);
}
