.app__portfolio {
  flex: 1;
  width: 100%;
  flex-direction: column;
  background-image: repeating-conic-gradient(
    var(--dark-purple-color) 0% 25%,
    #131054 0% 50%
  );
  background-position: 0 0, 52px 52px;
  background-size: 200px 200px;
  background-color: var(--light-purple-color);
}
.slick-slider {
  width: 90%;
  margin: 0 auto;
}
.app__portfolio-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 4rem 0 2rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: white;
    color: black;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: white;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: white;
  }
}

#portfolio h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align-last: left;
}
.app__portfolio-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slick-dots li button::before {
  color: var(--orange-color) !important;
}
.slick-dots .slick-active button::before {
  text-shadow: 0 0 7px var(--orange-color);
}

.app__portfolio-item-picture-container {
  position: relative;
  padding: 40px 20px 25px 0;
  width: 60%;
  max-width: 600px;
  max-height: 317px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px 8px;
  color: #aca49c;
  text-align: center;
  @media screen and (max-width: 568px) {
    width: 100%;
  }
}
.app__portfolio-item-picture {
  height: auto;
  max-height: 250px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #111;
}
.app__portfolio-item-picture img {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.app__portfolio-item-picture :hover img {
  transform: scale(1.08);
  transform-origin: 50% 50%;
  filter: contrast(140%);
  transition: 0.5s ease-in-out;
}
.app__portfolio-item-picture-container::before,
.app__portfolio-item-picture-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: 0.6s ease;
  border-radius: 2px;
  z-index: -1;
}
.app__portfolio-item-picture-container::before {
  top: 15px;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.app__portfolio-item-picture-container::after {
  bottom: 0;
  right: 15px;
  border-top-color: transparent;
  border-left-color: transparent;
}
.app__portfolio-item-picture-container:hover:before,
.app__portfolio-item-picture-container:hover:after {
  border-color: #aca49c;
  width: 100%;
  height: 100%;
}
.app__portfolio-item-description {
  max-width: 350px;
  padding-top: 50px 0 0 20px;
  transition: 1s ease-in-out;
  p {
    font-size: 1rem;
    line-height: 1.9rem;
    text-align: justify;
    color: var(--white-color);
  }
  .app__portfolio-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.app__portfolio-links {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.app__portfolio-link-item {
  padding: 0.5rem;
  margin-top: 20px;
  font-size: 1.1rem;
  float: left;
  border-radius: 8px;

  background: var(--orange-color);
  color: var(--purple-color);
  text-decoration: none;

  transition: 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  &:hover {
    background: var(--light-purple-color);
    box-shadow: inset 0 0 75px var(--dark-purple-color);
    color: white;
    transform: translateY(-6px);
  }
}
.app__portfolio-item-description img {
  width: 30px;
}
