.app__footer {
  flex: 1;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(var(--purple-color) 2px, transparent 2px);
  background-size: 52px 52px;
  background-color: var(--dark-purple-color);
}

// icons

.app__footer-icons-list {
  margin-top: 2rem;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin: 2rem auto;
    gap: 2rem;
  }
}

.app__footer-icons-list li {
  position: relative;
  margin: 0 30px;
  cursor: pointer;
}

.app__footer-icons-list i {
  color: var(--purple-color) !important;
  font-size: 5rem;
}

.app__footer-icons-list a::before {
  font-family: 'FontAwesome', serif;
  position: absolute;
  height: 0;
  overflow: hidden;
  font-size: 5rem;
  transition: 0.6s ease-out;
}

.app__footer-icons-list a .app__footer-icons-line {
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.6s ease-out;
}

.app__footer-icons-list li:nth-child(1) a::before {
  content: '\f08c';
  color: #0a66c2;
}

.app__footer-icons-list li:nth-child(1) .app__footer-icons-line {
  border-bottom: 4px solid #0a66c2;
}

.app__footer-icons-list li:nth-child(2) a::before {
  content: '\f09b';
  color: #fff;
}

.app__footer-icons-list li:nth-child(2) .app__footer-icons-line {
  border-bottom: 4px solid #fff;
}

.app__footer-icons-list li:nth-child(3) a::before {
  content: '\f0e0';
  color: var(--orange-color);
}

.app__footer-icons-list li:nth-child(3) .app__footer-icons-line {
  border-bottom: 4px solid var(--orange-color);
}

.app__footer-icons-list li:hover a::before {
  height: 100%;
}

.app__footer-icons-list li:hover .app__footer-icons-line {
  transform: translateY(84px);
}

.app__footer-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.app__footer-copyright-container {
  padding: 2rem 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  @media screen and (max-width: 500px) {
    padding: 2rem;
  }

  p {
    text-transform: uppercase;
  }
}
