.app__experiences {
	width: 100%;
}
.app__skills-exp {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	@media screen and (max-width: 900px) {
		margin-top: 2rem;
	}
}

.app__skills-exp-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.app__skills-exp-works {
	flex: 1;
	.app__skills-exp-work {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 1rem;
		cursor: pointer;
		h4 {
			font-weight: 500;
		}
		p {
			font-weight: 400;
			motion-path: 5px;
		}
	}
}

.app__skills-exp-year {
	margin-right: 3rem;
	p {
		color: var(--white-color);
	}
	@media screen and (max-width: 450px) {
		margin-right: 1rem;
	}
}
