#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  background: url("../../assets/header-bg.jpg") center/cover;
  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding-top: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .badge-cmp {
    flex-wrap: wrap;
  }

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    border: var(--white-color);
    box-shadow: 0 0 20px (rgba(255, 255, 255, 0.1));
    background: rgb(22, 5, 111);
    p,
    h1 {
      color: var(--white-color);
    }
  }
  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }
  span {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 10px white;
    @media screen and (min-width: 2000px) {
      font-size: 2.5rem;
    }
  }
  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 0 20px (rgba(255, 255, 255, 0.5));
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px (rgba(255, 255, 255, 1));
    }
    img {
      width: 60%;
      height: 60%;
    }
  }
  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }
  div:nth-child(2) {
    margin: 1.75rem;
    width: 140px;
    height: 140px;
  }
  div:nth-child(3) {
    width: 80px;
    height: 80px;
  }
  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
    div:nth-child(2) {
      margin: 1.75rem;
      width: 180px;
      height: 180px;
    }
    div:nth-child(3) {
      width: 220px;
      height: 220px;
    }
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    div {
      margin: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    div:nth-child(1) {
      width: 80px;
      height: 80px;
    }
    div:nth-child(2) {
      margin: 1.75rem;
      width: 100px;
      height: 100px;
    }
    div:nth-child(3) {
      width: 95px;
      height: 95px;
    }
    div:nth-child(4) {
      width: 85px;
      height: 85px;
    }
  }
}

.app__header-img {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 50%;
    object-fit: contain;
    z-index: 1;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(to top, #15046c, transparent 50%);
    box-shadow: 0 4px 2px -2px black;
  }
}
