@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --font-base: "DM Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --orange-color: #e0956c;
  --purple-color: #1f1b70;
  --dark-purple-color: #080450;
  --light-purple-color: #5c0bee;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --blue-color: #81dfea;
  --white-color: #ffffff;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--orange-color);
  color: var(--secondary-color);
}
