.app__langs {
  position: fixed;
  bottom: 20px;
  z-index: 100;
  & li {
    list-style-type: none;
  }
  // same breakpoint as navbar burger
  @media screen and (max-width: 900px) {
    display: none;
  }
}
.app__langs_mobile {
  margin: 30px;
}
.lang_button {
  background: none;
  outline: none;
  border: medium none;
  margin: 0;
  padding: 0 8px;
  opacity: .5;
  & img {
    cursor: pointer;
    width: 40px;
    height: 20px;
    margin: 0 5px;
    border-radius: 4px;

    &:hover {
      transform: scale(1.1);
      transition: all .2s ease;
    }
  }
}

.lang_button_active {
  transform: scale(1.5);
  opacity: 1;
}
